<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo DB - F1 test</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <img src="/images/StarLion.png" alt="lion brewery" />
    <h1>Welcome to my F1 DB</h1>

    <form action="<%= driverToEdit ? '/update/' + driverToEdit._id : '/add' %>" method="POST">
        <h2><%= driverToEdit ? 'Edit Driver' : 'Add Driver' %></h2>
        <input type="text" name="num" placeholder="Number" value="<%= driverToEdit ? driverToEdit.num : '' %>" required>
        <input type="text" name="code" placeholder="Code" value="<%= driverToEdit ? driverToEdit.code : '' %>" required>
        <input type="text" name="forename" placeholder="Forename" value="<%= driverToEdit ? driverToEdit.forename : '' %>" required>
        <input type="text" name="surname" placeholder="Surname" value="<%= driverToEdit ? driverToEdit.surname : '' %>" required>
        <br />
        <label for="dob">Date of birth: </label>
        <input type="date" name="dob" value="<%= driverToEdit ? driverToEdit.dob.toISOString().split('T')[0] : '' %>" required>
        <label for="url">Biography URL: </label>
        <input type="url" name="url" placeholder="URL" value="<%= driverToEdit ? driverToEdit.url : '' %>" required>
        <br />
        <label for="nationality">Nationality: </label>
        <input type="text" name="nationality" placeholder="Nationality" value="<%= driverToEdit ? driverToEdit.nationality : '' %>" required>
        <label for="team">Team: </label>
        <select name="team" required>
            <% teamsOptions.forEach(team => { %>
                <option value="<%= team._id %>" <%= (driverToEdit && driverToEdit.team && driverToEdit.team._id.toString() === team._id.toString()) ? 'selected' : '' %>><%= team.name %></option>
            <% }) %>
        </select>
        <p><input type="submit" value="<%= driverToEdit ? 'Update Driver' : 'Add Driver' %>"></p>
    </form>

    <hr>

    <h2>F1 Drivers 2023</h2>

    <div class="sort-controls">
        <span>Sort by:</span>
        <a href="/">Driver Number</a> |
        <a href="/?sortBy=team">Team</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Code</th>
                <th>Name</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% drivers.forEach(driver => { %>
                <tr>
                    <td><%= driver.num %></td>
                    <td><%= driver.code %></td>
                    <td><%= driver.forename %> <%= driver.surname %></td>
                    <td><%= driver.team ? driver.team.name : 'N/A' %></td>
                    <td>
                        <a href="/edit/<%= driver._id %>">Edit</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
